
<ul id="monitor-stats">
    <li>Total frames: {{.State.Frames}}</li>
    <li>Lines/frame: {{.State.Lines}}</li>
    <li>Pixel/line: {{.State.LinePixel}}</li>
    <li>FPS: {{.State.FPS}}</li>
    <li>Total pixel: {{.State.Pixel}}</li>
    <li>Resolution in: {{.State.HResIn}} x {{.State.VResIn}}</li>
    <li>Resolution out: {{.State.HResOut}} x {{.State.VResOut}}</li>
    <li>Scale factor horizontal: {{.State.HScale}}, vertical: {{.State.VScale}}</li>
    <li>Errors: {{.State.Errors}}</li>
    <li>Int Count: {{.State.IntCount}}</li>
    <li>Int/second: {{.State.IntPerSecond}}</li>
</ul>
